<form action="/sp/updateavailability?_method=PUT" method="POST">
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="availableSunday" id="availableSunday" <% if (user.availableSunday === true) { %>
            checked
        <% } %>>
        <label class="form-check-label" for="availableSunday">Sunday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="sundayStart" id="sundayStart" value="<%= user.sundayStart %>">
            <input class="form-control availability-time-end" name="sundayEnd" id="sundayEnd" value="<%= user.sundayEnd %>">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="availableMonday" id="availableMonday" <% if (user.availableMonday === true) { %>
            checked
        <% } %>>
        <label class="form-check-label" for="availableMonday">Monday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="mondayStart" id="mondayStart"  value="<%= user.mondayStart %>">
            <input class="form-control availability-time-end" name="mondayEnd" id="mondayEnd" value="<%= user.mondayEnd %>">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="availableTuesday" id="availableTuesday" <% if (user.availableTuesday === true) { %>
            checked
        <% } %>>
        <label class="form-check-label" for="availableTuesday">Tuesday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="tuesdayStart" id="tuesdayStart" value="<%= user.tuesdayStart %>">
            <input class="form-control availability-time-end" name="tuesdayEnd" id="tuesdayEnd"  value="<%= user.tuesdayEnd %>">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="availableWednesday" id="availableWednesday" <% if (user.availableWednesday === true) { %>
            checked
        <% } %>>
        <label class="form-check-label" for="availableWednesday">Wednesday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="wednesdayStart" id="wednesdayStart"  value="<%= user.wednesdayStart %>">
            <input class="form-control availability-time-end" name="wednesdayEnd" id="wednesdayEnd" value="<%= user.wednesdayEnd %>">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="availableThursday" id="availableThursday" <% if (user.availableThursday === true) { %>
            checked
        <% } %>>
        <label class="form-check-label" for="availableThursday">Thursday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="thursdayStart" id="thursdayStart" value="<%= user.thursdayStart %>">
            <input class="form-control availability-time-end" name="thursdayEnd" id="thursdayEnd" value="<%= user.thursdayEnd %>">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="availableFriday" id="availableFriday" <% if (user.availableFriday === true) { %>
            checked
        <% } %>>
        <label class="form-check-label" for="availableFriday">Friday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="fridayStart" id="fridayStart" value="<%= user.fridayStart %>">
            <input class="form-control availability-time-end" name="fridayEnd" id="fridayEnd" value="<%= user.fridayEnd %>">
        </div>
    </fieldset>
    <fieldset class="availability-day">
        <input class="form-check-input" type="checkbox" name="availableSaturday" id="availableSaturday" <% if (user.availableSaturday === true) { %>
            checked
        <% } %>>
        <label class="form-check-label" for="availableSaturday">Saturday</label>
        <div class="time-block">
            <input class="form-control availability-time-start" name="saturdayStart" id="saturdayStart" value="<%= user.saturdayStart %>">
            <input class="form-control availability-time-end" name="saturdayEnd" id="saturdayEnd" value="<%= user.saturdayEnd %>">
        </div>
    </fieldset>
    <!-- <fieldset class="availability-day">
        <div class="unavailable-dates-block">
            <label class="form-check-label" for="unavailableDates">Choose any specific unavailable dates</label>
            <input class="form-control unavailable-dates" name="unavailableDates" id="unavailableDates" value="*EJS* user.unavailableDates *EJS*">
        </div>
    </fieldset> -->
    <input type="submit" value="Save Changes">
</form>