<h3>Today's Appointments</h3>
<% if (todaysAppointments.length === 0) { %>
    <p>No appointments today!</p>
<% } else { %>
<div id="todays-appointments-card-div">
    <% for (i = 0; i < todaysAppointments.length; i++) { %>
    <div class="card mx-4" id="todays-appointments-card">
        <div class="card-body">
            <h5 class="card-title"><%= todaysAppointments[i].chosenAppointmentType %></h5>
            <% if (user.usertype === "serviceprovider") { %>
            <p class="card-text">with <%= todaysAppointments[i].customerName %></p>
            <% } else { %>
            <p class="card-text">with <%= todaysAppointments[i].serviceproviderName %></p>
            <% } %>
            <p class="card-text"><%= todaysAppointments[i].chosenDate.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %><br><%= todaysAppointments[i].chosenTime %></p>
            <!-- Modal Trigger -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelAppointmentModal">Cancel Appointment</button>
            <!-- Modal -->
            <div class="modal fade" id="cancelAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="cancelAppointmentModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="cancelAppointmentModalTitle">Cancel Appointment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to cancel this appointment?
                    </div>
                    <div class="modal-footer">
                    <form action="/appointments/<%=todaysAppointments[i].id%>/cancel?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Cancel Appointment</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<% } %>

<br><br>

<h4>Upcoming Appointments</h4>
<% if (upcomingAppointments.length === 0) { %>
    <p>You have no booked appointments!</p>
<% } else { %>
<div id="upcoming-appointments-card-div">
    <% for (i = 0; i < upcomingAppointments.length; i++) { %>
    <div class="card mx-4" id="upcoming-appointments-card">
        <div class="card-body">
            <h5 class="card-title"><%= upcomingAppointments[i].chosenAppointmentType %></h5>
            <% if (user.usertype === "serviceprovider") { %>
            <p class="card-text">with <%= upcomingAppointments[i].customerName %></p>
            <% } else { %>
            <p class="card-text">with <%= upcomingAppointments[i].serviceproviderName %></p>
            <% } %>
            <p class="card-text"><%= upcomingAppointments[i].chosenDate.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %><br><%= upcomingAppointments[i].chosenTime %></p>
            <!-- Modal Trigger -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelAppointmentModal">Cancel Appointment</button>
            <!-- Modal -->
            <div class="modal fade" id="cancelAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="cancelAppointmentModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="cancelAppointmentModalTitle">Cancel Appointment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to cancel this appointment?
                    </div>
                    <div class="modal-footer">
                    <form action="/appointments/<%=upcomingAppointments[i].id%>/cancel?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Cancel Appointment</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<% } %>