<% if (pastAppointments.length === 0) { %>
    <h6>You have no previous appointments</h6>
<% } else { %>
<div id="todays-appointments-card-div">
    <% for (i = 0; i < todaysAppointments.length; i++) { %>
    <div class="card mx-4" id="todays-appointments-card">
        <div class="card-body">
            <h5 class="card-title"><%= todaysAppointments[i].chosenAppointmentType %></h5>
            <% if (user.usertype === "serviceprovider") { %>
            <p class="card-text">with <%= todaysAppointments[i].customerName %></p>
            <% } else { %>
            <p class="card-text">with <%= todaysAppointments[i].serviceproviderName %></p>
            <% } %>
            <p class="card-text"><%= todaysAppointments[i].chosenDate.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %><br><%= todaysAppointments[i].chosenTime %></p>
            <form action="/WHOOOOOOOOO?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <% } %>
</div>
<% } %>