<p>Name: <%= user.firstName + " " + user.lastName %></p>
<% if (user.usertype === "serviceprovider") { %>
<p>Company: <%= user.company %></p>
<p>Description: <%= user.description %></p>
<% } %>
<p>Phone: <%= user.phone %></p>
<p>Email: <%= user.email %></p>
<form action="users/editprofile">
    <button type="submit" class="btn btn-primary" id="edit-profile-button">Edit Profile</button>
</form>