<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/style.ejs") %>
    <title>Dashboard - Appt</title>
</head>
<%- include("./partials/navbar.ejs", {user: user}) %>
<body>
    <div id="dashboard-title">
        <h1>Dashboard</h1>
        <p>Hi, <%= user.firstName %>! Welcome to Appt!</p>
    </div>
    <%- include("./partials/messages.ejs") %>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="upcoming-appointments-tab" data-toggle="tab" href="#upcoming-appointments" role="tab" aria-controls="upcoming-appointments" aria-selected="true">Upcoming Appointments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="past-appointments-tab" data-toggle="tab" href="#past-appointments" role="tab" aria-controls="past-appointments" aria-selected="false">Past Appointments</a>
        </li>
        <% if (user.usertype === "serviceprovider") { %>
        <li class="nav-item">
            <a class="nav-link" id="availability-tab" data-toggle="tab" href="#availability" role="tab" aria-controls="availability" aria-selected="false">My Availability</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="appointment-types-tab" data-toggle="tab" href="#appointment-types" role="tab" aria-controls="appointment-types" aria-selected="false">Appointment Types</a>
        </li>
        <% } %>
        <li class="nav-item">
            <a class="nav-link" id="my-profile-tab" data-toggle="tab" href="#my-profile" role="tab" aria-controls="my-profile" aria-selected="false">My Profile</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="upcoming-appointments" role="tabpanel" aria-labelledby="upcoming-appointments-tab">
            <%- include("./partials/dashboard/upcoming.ejs", {user: user}) %>
        </div>
        <div class="tab-pane fade" id="past-appointments" role="tabpanel" aria-labelledby="past-appointments-tab">
            <%- include("./partials/dashboard/past.ejs", {user: user}) %>
        </div>
        <% if (user.usertype === "serviceprovider") { %>
        <div class="tab-pane fade" id="availability" role="tabpanel" aria-labelledby="availability-tab">
            <%- include("./partials/dashboard/availability.ejs", {user: user}) %>
        </div>
        <div class="tab-pane fade" id="appointment-types" role="tabpanel" aria-labelledby="appointment-types-tab">
            <%- include("./partials/dashboard/appointmentTypes.ejs", {user: user}) %>
        </div>
        <% } %>
        <div class="tab-pane fade" id="my-profile" role="tabpanel" aria-labelledby="my-profile-tab">
            <%- include("./partials/dashboard/profile.ejs", {user: user}) %>
        </div>
    </div>
    <script>
        flatpickr(".availability-time-start", {
            enableTime: true,
            noCalendar: true,
            time_24hr: false,
            dateFormat: "h:i K",
            minuteIncrement: 15
        })
        flatpickr(".availability-time-end", {
            enableTime: true,
            noCalendar: true,
            time_24hr: false,
            dateFormat: "h:i K",
            minuteIncrement: 15
        })
        flatpickr(".unavailable-dates", {
            minDate: "today",
            mode: "multiple",
            dateFormat: "m-d-Y"
        })
    </script>
</body>
</html>