<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments Index Page</title>
</head>
<body>
    <h1>Appointments Index for <%= serviceProvider.name %></h1>
    <a href="/sp/<%= serviceProvider.id %>/appointments/new">Create a new appointment</a>
    <% for(let i = 0; i < appointments.length; i++) { %>
        <a href="/sp/<%= serviceProvider.id %>/appointments/<%= appointments[i].id %>"><%= appointments[i].title %></a>
    <% } %>
</body>
</html>