<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/style.ejs") %>
    <title>Service Providers - Appt</title>
</head>
<%- include("./partials/navbar.ejs", {user: user}) %>
<body>
    <div id="service-providers-title">Service Providers</div>
    <div id="appointment-types-card-div">
        <% for (let i = 0; i < serviceProviders.length; i++) { %>
        <div class="card mx-4" id="sp-index-card">
            <div class="card-body">
                <h5 class="card-title" id="sp-card-title"><%= serviceProviders[i].company %></h5>
                <p class="sp-card-description"><%= serviceProviders[i].description %></p>
                <a href="/sp/<%= serviceProviders[i].id %>"><button class="btn btn-primary">View Details</button></a>
            </div>
        </div>
        <% } %>
    </div>
</body>
</html>