<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/style.ejs") %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.13.18/jquery.timepicker.css">
    <title>New Appointment - Appt</title>
</head>
<%- include("./partials/navbar.ejs", {user: user}) %>
<body>
    <h1>Book an Appointment with <%= serviceProvider.company %></h1>
    <form name="new-appointment-form" id="new-appointment-form" action="/appointments/new" method="POST">
        <label for="chosenAppointmentTypeDuration">Choose appointment type: </label>
        <select name="chosenAppointmentTypeDuration" id="chosenAppointmentTypeDuration" form="new-appointment-form">
            <option id="select-one" value="" disabled selected>Select One</option>
            <% for (i = 0; i < serviceProvider.appointmentTypes.length; i++) { %>
            <option id="appointment-type-title" value="<%= serviceProvider.appointmentTypes[i].duration %>"><%= serviceProvider.appointmentTypes[i].title %></option>
            <% } %>
        </select>
        <fieldset class="availability-date" id="availability-date">
            <label class="form-check-label" for="availableSaturday">Choose a date:</label>
            <div class="availability-block" id="availability-block">
                <input class="form-control current-availability-date" name="chosenDate" id="chosenDate" value="">
            </div>
        </fieldset>
        <fieldset class="availability-time" id="availability-time">
            <label class="form-check-label" for="availabilityTime">Choose a time:</label>
            <div class="availability-block" id="availability-block">
                <input id="chosenTime" type="text" name="chosenTime" value="">
            </div>
        </fieldset>
        <input name="customer" value="<%= user.id %>" hidden>
        <input name="serviceprovider" value="<%= serviceProvider.id %>" hidden>
        <input id="submit-button" type="submit" value="Book Appointment">
    </form>


    <script>
        //DOM
        let chosenAppointmentTypeDuration = document.querySelector("#chosenAppointmentTypeDuration")
        let selectOne = document.querySelector("#select-one")
        let appointmentTypeTitle = document.querySelector("#appointment-type-title")
        let availabilityDate = document.querySelector("#availability-date")
        let chosenDate = document.querySelector("#chosenDate")
        let availabilityTime = document.querySelector("#availability-time")
        let chosenTime = document.querySelector("#chosenTime")
        let submitButton = document.querySelector("#submit-button")

        //Default Values
        availabilityDate.style.display = "none"
        availabilityTime.style.display = "none"
        submitButton.style.display ="none"

        //Event Listeners
        chosenAppointmentTypeDuration.addEventListener("change", () => {
            if (selectOne.selected === true) {
                availabilityDate.style.display = "none"
            }
            else {
                availabilityDate.style.display = "block"
            }
        })
        availabilityDate.addEventListener("change", () => {
            if (chosenDate !== "") {
                availabilityTime.style.display = "block"
            }
        })
        chosenTime.addEventListener("change", () => {
            if (chosenTime !== "") {
                submitButton.style.display = "block"
            }
        })

        flatpickr(".current-availability-date", {
            minDate: "today",
            maxDate: new Date().fp_incr(28),
            dateFormat: "m-d-Y",
            "disable": [
                (date) => {
                    return (date.getDay() === <%= sunday %> || date.getDay() === <%= monday %> || date.getDay() === <%= tuesday %> || date.getDay() === <%= wednesday %> || date.getDay() === <%= thursday %> || date.getDay() === <%= friday %> || date.getDay() === <%= saturday %>)
                }
            ]
        })

        $(document).ready(function() {
            $('#chosenTime').timepicker({});
        });
        
        $(document.body).on('change', '#chosenAppointmentTypeDuration', function() {
            let duration = $('#chosenAppointmentTypeDuration').find(":selected").val();
            $('#chosenTime').timepicker('option', 'step', duration)
        })

    </script>
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.13.18/jquery.timepicker.min.js"></script>
</body>
</html>