<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=serviceProvider.company %> - Appt</title>
</head>
<body>
    <h1><%= serviceProvider.company %></h1>
    <p>Phone: <%= serviceProvider.phone %></p>
    <p>Email: <%= serviceProvider.email %></p>
    <br>
    <a href="<%= serviceProvider.id %>/appointments/new">Book an Appointment</a>
</body>
</html>