<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/style.ejs") %>
    <title>New Service Provider - Appt</title>
</head>
<%- include("../partials/navbar.ejs") %>
<body>
    <h1>Create New Service Provider</h1>
    <%- include("../partials/messages.ejs") %>
    <form action="/users/register/newserviceprovider" method="POST">
        <p id="required-fields">All fields marked with an asterisk (<span style="color: red">*</span>) are required</p>
        <fieldset>
            <label for="firstName">First Name<span style="color: red">*</span>&nbsp;</label>
            <input id="firstName" type="text" autocomplete="off" spellcheck="false" name="firstName" placeholder="First Name" value="<%= typeof firstName != "undefined" ? firstName : "" %>">
        </fieldset>
        <fieldset>
            <label for="lastName">Last Name<span style="color: red">*</span>&nbsp;</label>
            <input id="lastName" type="text" autocomplete="off" spellcheck="false" name="lastName" placeholder="Last Name" value="<%= typeof lastName != "undefined" ? lastName : "" %>">
        </fieldset>
        <fieldset>
            <label for="company">Company<span style="color: red">*</span>&nbsp;</label>
            <input id="company" type="text" autocomplete="off" spellcheck="false" name="company" placeholder="Company" value="<%= typeof company != "undefined" ? company : "" %>">
        </fieldset>
        <fieldset>
            <label for="description">Describe your company<span style="color: red">*</span>&nbsp;</label>
            <input id="description" type="textarea" autocomplete="off" spellcheck="false" name="description" placeholder="Description" value="<%= typeof description != "undefined" ? description : "" %>">
        </fieldset>
        <fieldset>
            <label for="email">Email<span style="color: red">*</span>&nbsp;</label>
            <input id="email" type="email" autocomplete="off" spellcheck="false" name="email" placeholder="Email" value="<%= typeof email != "undefined" ? email : "" %>">
        </fieldset>
        <fieldset>
            <label for="phone">Phone Number<span style="color: red">*</span>&nbsp;</label>
            <input id="phone" type="tel" autocomplete="off" spellcheck="false" name="phone" placeholder="Phone Number" value="<%= typeof phone != "undefined" ? phone : "" %>" onkeypress="addDash()">
        </fieldset>
        <fieldset>
            <label for="password">Password<span style="color: red">*</span>&nbsp;</label>
            <input id="password" type="password" autocomplete="off" spellcheck="false" name="password" placeholder="Password" value="<%= typeof password != "undefined" ? password : "" %>">
        </fieldset>
        <fieldset>
            <label for="password2">Confirm password<span style="color: red">*</span>&nbsp;</label>
            <input id="password2" type="password" autocomplete="off" spellcheck="false" name="password2" placeholder="Confirm password" value="<%= typeof password2 != "undefined" ? password2 : "" %>">
        </fieldset>
        <fieldset>
            <label for="img">Upload a profile picture:&nbsp;</label>
            <input type="file" name="img" accept="image/*">
        </fieldset>
        <input type="submit" value="Submit">
    </form>
    <script>
        const addDash = () => {
                let inputValue = document.querySelector("#phone").value
                let inputValueLength = inputValue.length
                if(inputValue.length == 3 || inputValue.length == 7){
                    document.querySelector("#phone").value = inputValue + "-"
                }
            }
    </script>
</body>
</html>