<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/style.ejs") %>
    <title>Sign In - Appt</title>
</head>
<%- include("../partials/navbar.ejs", {user: user}) %>
<body id="register-form-body">
    <div id="register-form-page">
        <div id="signin-form-box">
            <h1 id="signin-form-title">Sign In</h1>
            <%- include("../partials/messages.ejs") %>
            <form action="/users/signin" method="POST">
                <fieldset>
                    <label for="email">Email:</label>
                    <input id="email" type="email" autocomplete="off" spellcheck="false" name="email" value="<%= typeof email != "undefined" ? email : "" %>">
                </fieldset>
                <fieldset>
                    <label for="password">Password:</label>
                    <input id="password" type="password" autocomplete="off" spellcheck="false" name="password" value="<%= typeof password != "undefined" ? password : "" %>">
                </fieldset>
                <input id="signin-submit-button" class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>